.login-container {
    width: 100%;
    height: calc(100vh - 8vh);
    background-color: #191919;
    color: #bebebe;
}

.login-container .login-form {
    background: linear-gradient(180deg, rgb(14, 14, 14) 80%, rgb(20, 20, 20) 100%);
    width: fit-content;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 700px;
    padding: 15px 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.login-form-heading h1 {
    width: 100%;
    font-weight: 400;
    font-size: 50px;
}

.login-form .login-form-control {
    width: 100%;
}

.login-form-control h3 {
    font-size: 20px;
    font-weight: 400;
}

.login-form-control input {
    width: 100%;
    padding: 8px 20px;
    font-size: 20px;
    outline: none;
    border: 1px solid #757575;
    border-radius: 15px;
    transition: all ease 0.3s;
    background-color: transparent;
    color: rgb(220, 220, 220);
    margin-top: 10px;
}

.login-form-control input:hover {
    background-color: rgb(45, 45, 45);
    border: 1px solid rgb(45, 45, 45);
}

.login-form-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form-button button {
    float: right;
    width: 25%;
    padding: 8px 12px;
    font-size: 20px;
    outline: none;
    border: 1px solid rgb(47, 188, 253);
    color: rgb(47, 188, 253);
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.login-form-button button:hover {
    color: rgb(47, 188, 253);
    border: 1px solid rgba(47, 188, 253, 0.274);
    background-color: rgba(47, 188, 253, 0.274);
}

.login-form-button a {
    color: #20d172;
    font-size: 20px;
    border-bottom: 1px solid #20d172;
}